
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header bar */
.Header {
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
}


.title {
    margin: 0;
}


.home-link {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.home-link:hover {
    text-decoration: underline;
}


.content {
    padding: 20px;
}

.spikeball-list {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
}


.media {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 30px; 
    flex-wrap: wrap; 
}

.media img {
    width: 300px;
}

.media iframe {
    width: 400px;
    height: 225px;
}